@import url('https://fonts.googleapis.com/css2?family=Righteous&family=Roboto&display=swap&family=Futura&display=swap');

body {
  margin: 0;
  font-family: 'Futura', 'Roboto', 'Righteous', -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.form-generated-text {
  width: "500px";
  font-family: "Futura"
}

.form-input-url {
  width: "400px";
  font-family: 'Futura';
}

.photo-number-selector {
  width: 100px;
  font-family: 'Futura';
}
